/* CSS for the Oxford English Dictionary 2nd Edition */

.headword {
    color: #dc143c; /* crimson dc143c */
    font-size: 1.2em;
}
.headword span.abbreviation {
    color: #dc143c;
}
blockquote {
    margin: 0;
}

.phonetic {
    color: #2F4F4F; /* dark slate grey 2F4F4F */
    font-style: italic;
    font-size: 0.9em;
}
.forms {
    font-size: 0.85em;
    /* color: rgb(0, 255, 255); /* for testing purposes */
}

.etymology {
    background-color: #FFFBE6; /* light yellow FFFBE6*/
    margin: 0.5em 0.5em;
    padding: 0.5em;
    font-size: 0.7em; /* adjust as needed currently 70% */
}
/* .etymology-main {
    color: #808080;
} */
blockquote.etymology-notes {
    margin-left: 0.5em;
}
/* Prevent double shrinking when quotations are inside etymology */
.etymology .quotations {
    font-size: 1em;
    background-color: #FFFBE6 !important;
}
.usage-note {
    /* background-color: #ff00bf; */
    margin: 0 0 0 0.5em;
    font-size: 0.8em;
}
/* Style for the quotations text content box, this box wraps all individual .quotes */
.quotations {
    background-color: #FFFFFF; /* white now, could use light gray F0F0F0 */
    margin: 0.5em 0.5em 0.5em 1em; /* top right bottom left */
    padding: 0.5em;
    font-size: 0.7em; /* adjust as needed currently 70% */
}
.author {
    /* color: #ff00ae; for testing only */
    font-variant: small-caps;
}
.quotes {
    color: #0066cc; /* was dark magenta 8B008B*/
}

/* part of speech */
.pos {
    color: #000000;
    font-size: 1.1rem;
}
.major-division {
    color: #070707; /* was dark indigo 4B0082*/
    font-size: 1.1rem;
}
.senses {
    color: #095c09; /* was dark indigo 4B0082*/
    font-size: 1.1rem;
}
.subsenses {
    color:#008200; /* was dark indigo 4B0082*/
    font-size: 1.1rem;
}

.kref {
    font-variant: small-caps;
    font-size: 0.9em;
}

.small-cap-letter {
    font-size: 0.75em;
    text-transform: uppercase;
}
/* .abbreviation {
    color: #7d7c7c;
} */